<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solagna.haltere_se20">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconclean"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconclean"
        android:supportsRtl="true"
        android:theme="@style/Theme.Halterese20">
        <activity
            android:name=".View.AlunoTreinoView"
            android:exported="false" />
        <activity android:name=".View.LoginView" />
        <activity android:name=".View.TreinadorView" />
        <activity android:name=".View.PrincipalAlunoView" />
        <activity android:name=".View.TreinadorBuscaAlunosView" />
        <activity android:name=".View.CriaEditaAlunoView" />
        <activity android:name=".View.CriaTreinosView" />
        <activity android:name=".View.TreinadorBuscaTreinosView" />
        <activity android:name=".View.ExercicioView" />
        <activity android:name=".View.CriaExercicioView" />
        <activity android:name=".View.CriaEditaTreinadorView" />
        <activity android:name=".MainController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>